#about {
    font-size: 1.4rem;
}

#contact {
    font-size: 1rem;
    color: var(--ColorTextMuted)
}

#contact a {
    color: var(--ColorTextMuted);
    text-decoration: none;
}

#contact a:hover {
    color: var(--ColorLinkHover);
}

#contact .bi-envelope {
    margin: 0 0.5em;
}

#contact .bi-at {
    margin: 0 -0.2em;
}
