@media (prefers-color-scheme: dark) {
    :root {
        --Background: #313233;
        --ColorText: #fafbfc;
        --ColorTextMuted: #cacbcc;
        --ColorLinkHover: #e1e2e3;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --Background: #fafbfc;
        --ColorText: #111213;
        --ColorTextMuted: #414243;
        --ColorLinkHover: #010203;
    }
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    background: var(--Background);
    color: var(--ColorText);
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    margin: 1rem 0;
    text-align: center;
}
